.canvas {
    float:left;
    width:600px;
    height:600px;
    background-color:#880000;
}

.input {
    font-size:40px;
    float:left;
    width:200px;
    height:200px;
    background-color:#EEEEEE;
}
